<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      <!-- Bind the Hibernate service to JNDI -->
       <!--<attribute name="JndiName">java:/hibernate/SessionFactory</attribute>-->
	        <property name="connection.datasource">java:comp/env/billetterie</property>

	        <!-- JDBC connection pool (use the built-in) -->

       <!-- SQL dialect -->
	        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
       <property name="current_session_context_class">thread</property>

       <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
	        <property name="show_sql">true</property>
	        <property name="format_sql">true</property>
	
	       <!-- Drop and re-create the database schema on startup -->
	        <property name="hbm2ddl.auto">update</property>
	        <mapping resource="fr/utbm/billetterie/hbm/Avoir.hbm.xml" />
	        <mapping resource="fr/utbm/billetterie/hbm/Spectacle.hbm.xml" />
	        <mapping resource="fr/utbm/billetterie/hbm/Publicite.hbm.xml" />
	        <mapping resource="fr/utbm/billetterie/hbm/Artiste.hbm.xml" />
	        <mapping resource="fr/utbm/billetterie/hbm/Genre.hbm.xml" />
	         <mapping resource="fr/utbm/billetterie/hbm/CategorieSpectacle.hbm.xml" />
	                
	        
	       <!--       
	    <mapping resource="fr/utbm/billetterie/hbm/ConfigurerLibre.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/Position.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/DemoOrders.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/CategoriePlace.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/PlaceAssise.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/DemoStates.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/DemoCustomers.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/BilletSpectacle.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/Emp.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/Client.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/CategorieSpectateurTarif.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/DemoProductInfo.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/Salle.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/Representation.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/DemoOrderItems.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/SalleConfiguree.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/Configurer.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/Dept.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/Tarifer.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/Region.hbm.xml" />
        <mapping resource="fr/utbm/billetterie/hbm/DemoUsers.hbm.xml" />
      	<mapping resource="fr/utbm/billetterie/hbm/Reservation.hbm.xml" />
	         
	        -->
	  
    </session-factory>
</hibernate-configuration>

